.resize-drag {
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;

  width: 120px;

  /* This makes things *much* easier */
  box-sizing: border-box;
}

.resize-container {
  width: 100%;
  height: 100%;
}
img {
  max-width:100%;
  max-height:100%;
}
#eye1 {
  position: fixed;
  top: 20px;
  left: 20px;
}
#eye2 {
  position: fixed;
  top: 20px;
  left: 120px;
}
#nose1 {
  position: fixed;
  top: 120px;
  left: 20px;
}
#nose2 {
    position: fixed;
  top: 120px;
  left: 120px;
}
#mouth1 {
    position: fixed;
  top: 240px;
  left: 20px;
}
#mouth2 {
  position: fixed;
  top: 240px;
  left: 120px;
}

.pickme  {
  height: 60px;
}

.dropzone {
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #4e4;
}


.drag-drop {
  display: inline-block;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  border-color: #4e4;
}

